@font-face {
  font-family: "Jockey";
  src: url('JockeyOne-Regular.ttf'); 
}
#image { 
  width: 100vw; 
  height: 100vh;  
  position: absolute; 
  top: 0px; 
  left: 0px; 
  z-index: -1;  
  filter: blur(10px);
}  
#link_container { 
  display: flex;          
  flex-direction: column;      
  justify-content: center; 
  align-items: center;
  gap: 3.5vw;  
} 
body {
  background-color: black; 
}
a {  
  font-family: "Jockey";  
  color: #55ff20;  
  background-color: black; 
  font-size: 5vw;   
  border: 1vw solid black; 
  border-radius: 12px;
} 
