img { 
  width: 100vw; 
  height: 100vh;  
  position: absolute; 
  top: 0px; 
  left: 0px;
}
body { 
  display: flex;          
  flex-direction: row;      
  justify-content: center; 
  align-items: center;
  gap: 15px;   
}
